### Classification - lower rating/price/rating_count impact high risk score on restaurants

### Observing top 50 words for low rating restaurants

In [3]:
# Import packages
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline
import nltk

In [4]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/vivi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [43]:
review =pd.read_csv('Reviews_Clean.csv')

In [44]:
review.head()

,id,text_join,rating_min,rating_max,rating_mean,Reviews_Flag,Reviews_Flag_Count
0,-0YTqofxupHzmd9SbKhjXw,despite how abundant the colombian food scene ...,4,5,4.666667,True,3
1,-0rMc_wb4gi6_sai0SadsQ,went here for dinner just to try something new...,4,5,4.333333,False,0
2,-2FAuHbWsc_rxuSaeYAhCw,simple things well executed can be beautiful. ...,3,5,4.000000,False,0
3,-2KLOAWzJ-wbUSC40WR8EA,beware! we came here to kill some time while w...,1,3,1.666667,True,3
4,-2aMphgYYnoxncuZ7xI3Gw,we went here for dinner saturday night during ...,4,5,4.333333,False,0

## let's look at rating lower than 3, as the cluster modeling indicate the lower rating, the higher risk

In [13]:
import re

for i in range(review.shape[1]):
    text = re.sub('[^a-zA-Z]',' ',review.iloc[i, 1].lower())
    review.iloc[i, 1] = text

In [14]:
review

,id,text_join,rating_min,rating_max,rating_mean,Reviews_Flag,Reviews_Flag_Count
0,ytqofxuphzmd sbkhjxw,despite how abundant the colombian food scene ...,4,5,4.666667,True,3
1,rmc wb gi sai sadsq,went here for dinner just to try something new...,4,5,4.333333,False,0
2,fauhbwsc rxusaeyahcw,simple things well executed can be beautiful ...,3,5,4.000000,False,0
3,kloawzj wbusc wr ea,beware we came here to kill some time while w...,1,3,1.666667,True,3
4,amphgyynoxncuz xi gw,we went here for dinner saturday night during ...,4,5,4.333333,False,0
...,...,...,...,...,...,...,...
8195,zyiauY6dhZa8WVmLQ83M2A,i'm a chinatown local and this spot hits every...,5,5,5.000000,False,0
8196,zyyT2yiyxxamC-jKc0v-fg,"haven't been here in years, but remember the...",2,5,3.333333,True,1
8197,zz0uxqMv5Ba1CTXKsbf6wg,my friend and i were looking to do outdoor din...,1,4,3.000000,False,0
8198,zzcUX6-fwxpVsRYG96f9Ig,the food here is bomb! came here on valentine'...,3,5,4.000000,False,0
8199,zzrm1Da_CuUU-X0wzPTCCQ,great spot for a quick breakfast. waitstaff wa...,1,4,2.333333,True,1

In [45]:
review["rating_mean"] = review["rating_mean"].apply(lambda x:1 if x <= 3 else 0) # ≤3 as risk

In [46]:
negative_review = review[review["rating_mean"] == 1] #1 - risk
positive_review = review[review["rating_mean"] == 0]

In [50]:
negative_review['rating_mean'].isnull().count() # this is what we will be focus on

1576

In [51]:
positive_review['rating_mean'].isnull().count()

6624

In [53]:
negative_review['text_join']

3       beware! we came here to kill some time while w...
8       kids. kids. and more kids. loud kids. crying k...
9       we ordered some dinner for delivery. the deliv...
12      would have done 4.5 stars, but the interface w...
20      i worked with pasha's staff and manager, rhea,...
                              ...
8184    currently closed for dining in. called ahead o...
8191    this place is a simple good hole in the wall s...
8193    fabulous food and service. one of the few rest...
8197    my friend and i were looking to do outdoor din...
8199    great spot for a quick breakfast. waitstaff wa...
Name: text_join, Length: 1576, dtype: object

In [54]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [56]:
import re # clean reviews

for i in range(negative_review.shape[1]):
    text = re.sub('[^a-zA-Z]',' ',negative_review.iloc[i, 1].lower())
    negative_review.iloc[i, 1] = text

In [55]:
for i in range(len(negative_review)):   #split words,exclude stopwords
    text = negative_review.iloc[i, 1].split()
    text = [word for word in text if word not in stopwords.words('english')]
    text = ' '.join(text)
    negative_review.iloc[i, 1] = text

In [58]:
negative_review['text_join']

3       beware  came kill time waiting car serviced  m...
8       kids  kids  kids  loud kids  crying kids  scre...
9       ordered dinner delivery  delivery quick food h...
12      would done     stars  interface allow it  i ve...
20      worked pasha s staff manager  rhea  last week ...
                              ...
8184    currently closed dining in. called ahead satur...
8191    place simple good hole wall spot. food tastes ...
8193    fabulous food service. one restaurants table s...
8197    friend looking outdoor dining mild december da...
8199    great spot quick breakfast. waitstaff amazing ...
Name: text_join, Length: 1576, dtype: object

In [59]:
pos_list = []  
for i in range(len(negative_review)):
     pos_list.append(negative_review.iloc[i, 1].split())

In [60]:
pos_list = np.concatenate(pos_list).tolist() #list

In [61]:
from collections import Counter

In [62]:
pos_words = Counter(pos_list)

In [67]:
pos_words.most_common(50)  #top 50 common words

[('food', 977),
 ('place', 868),
 ('ordered', 696),
 ('order', 473),
 ('good', 471),
 ('like', 432),
 ('chicken', 397),
 ('one', 377),
 ('service', 359),
 ('got', 334),
 ('time', 329),
 ('great', 328),
 ("i've", 310),
 ('came', 302),
 ('restaurant', 291),
 ('get', 267),
 ('really', 257),
 ('the...', 256),
 ('go', 236),
 ('pizza', 224),
 ('give', 221),
 ('first', 207),
 ("i'm", 205),
 ('never', 202),
 ('went', 201),
 ('always', 191),
 ('food.', 177),
 ('even', 176),
 ('two', 174),
 ('-', 174),
 ('fried', 171),
 ('would', 167),
 ('last', 167),
 ('spot', 165),
 ('delivery', 162),
 ('take', 158),
 ('chinese', 155),
 ('come', 153),
 ('rice', 152),
 ('love', 152),
 ('best', 146),
 ('&', 146),
 ('pretty', 146),
 ('and...', 143),
 ('lunch', 142),
 ('nice', 142),
 ('staff', 140),
 ('decided', 139),
 ('could', 136),
 ('good.', 135)]